/* ComboBox 与 ModalBox 共享样式 */

.select-dropdown-shared {
  .my-dropdown {
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 10%);
  }

  .vxe-table--render-default.size--mini .vxe-header--column:not(.col--ellipsis) {
    padding: 5px 0;
  }

  .ant-select-selection-overflow-item {
    max-width: 80px;
  }
}

/* 在 vxe-cell 内部使用时覆盖宽度 */
.vxe-table .vxe-cell > .select-dropdown-shared {
  width: 100%;

  .ant-select-sm {
    flex: 1;
    height: 28px;
    border-radius: 4px 0 0 4px;
    box-shadow: none !important;
    line-height: 28px;

    .ant-select-selector {
      height: 28px !important;
      border-radius: 4px 0 0 4px;
      box-shadow: none !important;
      line-height: 28px !important;
    }
  }

  .ant-input-affix-wrapper-sm {
    height: 28px;
    border-radius: 4px 0 0 4px;
    box-shadow: none !important;
    line-height: 28px;
  }

  .ant-btn-sm {
    height: 28px;
    border-radius: 0 4px 4px 0;
  }
}

.dropdown-table .vxe-table--header th .vxe-cell {
  display: flex !important;
  align-items: center;

  .vxe-cell--title {
    flex: 1;
  }
}
